body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("images/ankarra.jpg");
    background-repeat: repeats;
    margin-top: 10px;
    color:#0B3954;
}

nav {color: inherit;
   
}
nav>ul {
    background-color:cadetblue ;
    width: 500px;
    text-align: right;
}
nav>ul>li {
    display: inline-block;
}
nav ul li a {
    padding: 10px;
    margin-right: 0;
    text-decoration: none;
    color: inherit;
}
nav>ul>li>a:hover {
    color: whitesmoke;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), insert 0 0 1px rgba(255, 255, 255, 0.6);
    background:#0B3954;
}
.about{
    flex-direction: row;
    background-color: #9DF7E5;
}
.history img,.about img{
    width: 100%;
} 
 .history{
    background-color:#9DF7E5;
}
.gallary{
    border-top: 20px solid wheats;
    background-color:rgb(112, 107, 107);
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}
div.figure {
    float: right;
    font-family: inherit;
    font-style: italic;
    font-size: inherit;
    text-align: center;
    font-size: smaller;
    color: white;
  }